<html>
  <head>
    {% if dev %}
      {% style "css/site.css" %}
    {% else %}
      {% style "css/site.min.css" %}
    {% endif %}
  </head>
  <body>
    <div id="app"></div>
    {% if dev %}
      <script src="//fb.me/react-0.12.1.js"></script>
      {% script "js/out/goog/base.js" %}
      {% script "js/app.js" %}
      <script type="text/javascript">goog.require("burning_fat.dev");</script>
    {% else %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react.min.js"></script>
      {% script "js/app.js" %}
    {% endif %}
  </body>
</html>
